body,html {
    margin: 0;
    font-family: sans-serif;
  }
  
  ul {
    padding: 0;
    width: 100%;
  }
  
  li {
    display: inline;
  }
  
  a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: 3;
    color: black;
    padding: 0 1rem;
  }
  
  li:last-child a {
    margin-right: 0;
  }
  
  a:link, a:visited, a:focus {
    background: rgb(233, 233, 45);
  }
  
  a:hover {
    background: orange;
  }
  
  a:active {
    background: red;
    color: white;
  }
a {
  background-color: powderblue;
  transition: background-color .5s;
}

a:hover {
  background-color: gold;
}
li{
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    text-decoration-color: black;
    
}         
* {
    margin:0;
    padding:0;
    font:12pt Arial;
}

body {
  background-color: burlywood;
}
header{ 
  display: flex;
background-color: aqua;
}
.field {
  display: flex;
  justify-self: flex-end;
  margin-left: auto;
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em 'Montserrat Alternates';
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid rgb(241, 237, 5);
}

.field>button {
  padding:0.6em 0.8em;
  background-color:rgb(223, 238, 13);
  color:white;
  border:none;
}
img{
  width: 100%
  ;
  
}
.produtcontainer{
  display: flex;
  gap: 20px;
}
.box1{ 
  width: 30%;
}
.titulo{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 10rem 0;

}
.box2{
  display: flex;
  gap: 20px
  
}
.inputnumber{
  height: 20px;
  
}
.buton{
  height: 20px;
}